
.text-uppercase {
    text-transform: uppercase;
}
.button {
background-color: #88e77b;

padding: 8px 16px ;
border-radius: 30px;
margin: 18px;
display: inline-block;

}
a {
text-decoration: none;
color: rgb(141, 110, 70);
}

input {
    margin-top: 10px;
}

.mybg {
    background-color: rgba(128, 13, 194, 0.822);
}